<h1>{{title}}: {{beat.title}}</h1>

{{req.body.beatid}} - beatid
{{identity}} - identity

    <form method = "POST" action = "">

        <input
        id="beatid" 
        type="hidden"
        name="beatid",
        required="true",	
        value={{beat._id}}
        />
        <button type='submit'>Delete</button>
    </form>