<h1>{{title}}</h1>

<ul>
    {{#each tags_list}}
        <li><a href={{this.url}}>{{this.tag1}}</a></li>
        <li><a href={{this.url}}>{{this.tag2}}</a></li>
        <li><a href={{this.url}}>{{this.tag3}}</a></li>
    {{/each}}
</ul>